@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Slab&display=swap');

/* FAFAF9
E48D65
E8541D
959594
2E2127
Color codes
 */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto-Slab, sans-serif;
    font-weight: 300;
    color: #E8541D;
}

/* headings and titles */

h1, h2 {
    font-family: Roboto-Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo, #menu {
    line-height: 50px;
}



#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
}

#menu {
    float: right;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #959594;
}

#menu a:hover {
    border: 2px solid #E48D65;
    border-style: inset;
}

.active {
    border-bottom: 1px solid #E48D65;
}

#mast-head {
    background-color: #2E2127;
    color: #E8541D;
}

/* hero-image */

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-skitterphoto-9606.jpg') no-repeat center center;
    margin: 5px 0 0;
    background-size: cover;
    background-position: bottom;
}

#cover-text {
    font-size: 150%;
    font-family:Roboto-Slab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;

    width: 50%;
    height: 150px;
    margin-right: 25px;

    padding-top: 20px;
    padding-left: 10px;

    background-color: #2E2127;
    bottom: 30px;
    right: 50px;
    color: #E48D65;
    opacity: 0.6;
    position: absolute;
}

/* offer-boxes and main-value */

#main-value {
    height: 500px;
    width: 80%;
    background-color: #FAFAF9;
    margin: 0 auto;
    margin-top: 5px;
    border: 5px solid #E48D65;
    border-style: outset;
}

#main-value-heading h2, #main-value-heading p {
    color: #2E2127;
    text-align: center;
    padding: 15px;
}

#offering {
    height: 500px;
}

.offer-box {
    padding-top: 25px;
    width: 49%;
    background-color: #2E2127;
    color: #FAFAF9;
    height: 400px;
}

.offer-box-heading {
    width: 90%;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

#right-offer {
    float: right;
}

#left-offer {
    float: left;
    text-align: left;
}

#right-offer-heading li {
    text-align: right;
}

#right-offer-heading h2 {
    text-align: right;
    color: #E48D65;
}

#left-offer-heading li {
    text-align: left;
    margin-left: 10%;
    list-style-type: none;
}

#left-offer-heading h2 {
    text-align: left;
    margin-left: 10%;
    color: #E48D65;
}

#introduction {
    text-align: center;
    margin: 5px 0;
    font-size: 250%;
}

/* classes html css */
/*
#classes-outer {
    height: 600px;
    width: 100%;
}


.classes {
    height: 500px;
    width: 80%;
    background-color: #FAFAF9;
    margin: 0 auto;
    margin-top: 5px;
    border: 5px solid #E48D65;
    border-style: outset;
    text-align: center;
}
 
/*

/* #kid-classes {
    padding-top: 25px;
    width: 80%;
    background-color: #2E2127;
    color: #FAFAF9;
    height: 400px;
    margin: 0 auto;
    text-align: center;
}
*/

/* footer */

footer {
    height: 150px;
}
.social {
    text-align: center;
}

.social>li {
    display: inline;
}

.social i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #E48D65;
}