@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&family=Roboto+Condensed:ital,wght@1,300&family=Roboto+Slab&display=swap');

/* FAFAF9
E48D65
E8541D
959594
2E2127
Color codes
 */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto-Slab, sans-serif;
    font-weight: 300;
    color: #E8541D;
}

/* headings and titles */

h1, h2 {
    font-family: Roboto-Condensed, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#logo, #menu {
    line-height: 50px;
}



#logo {
    float: left;
    font-size: 250%;
    margin-left: 25px;
}

#menu {
    float: right;
    margin-right: 2%;
}

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: #959594;
}

#menu a:hover {
    border: 2px solid #E48D65;
    border-style: inset;
}

.active {
    border-bottom: 1px solid #E48D65;
}

#mast-head {
    background-color: #2E2127;
    color: #E8541D;
}

/* hero-image */

#image-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-skitterphoto-9606.jpg') no-repeat center center;
    margin: 5px 0 0;
    background-size: cover;
    background-position: bottom;
}

#cover-text {
    font-size: 150%;
    font-family:Roboto-Slab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 50%;
    height: 150px;
    margin-right: 25px;
    padding-top: 25px;
    padding-left: 15px;
    background-color: #2E2127;
    bottom: 30px;
    right: 50px;
    color: #E48D65;
    opacity: 0.6;
    position: absolute;
}

/* offer-boxes and main-value */

#main-value {
    height: 500px;
    width: 80%;
    background-color: #FAFAF9;
    margin: 0 auto;
    margin-top: 5px;
    border: 5px solid #E48D65;
    border-style: outset;
}

#main-value-heading h2, #main-value-heading p {
    color: #2E2127;
    text-align: center;
    padding: 15px;
}

#offering {
    height: 600px;
}

.offer-box {
    padding-top: 25px;
    width: 49%;
    background-color: #2E2127;
    color: #FAFAF9;
    height: 600px;
}

.offer-box-heading {
    width: 90%;
    line-height: 25px;
    clear: both;
    margin-bottom: 50px;
}

#right-offer {
    float: right;
}

#left-offer {
    float: left;
    text-align: left;
}

#right-offer-heading li {
    text-align: right;
    list-style-type: none;
}

#right-offer-heading h2 {
    text-align: right;
    color: #E48D65;
}

#left-offer-heading li {
    text-align: left;
    margin-left: 10%;
    list-style-type: none;
}

#left-offer-heading h2 {
    text-align: left;
    margin-left: 10%;
    color: #E48D65;
}

.introduction {
    text-align: center;
    margin: 5px 0;
    font-size: 250%;
}



/* new */

#classes-outer {
    height: 50%;
    width: 100%;
    overflow: hidden;
}

#classes-outer2 {
    height: 50%;
    width: 100%;
    overflow: hidden;
    position: relative;

}


.classes {
    height: 500px;
    width: 80%;
    background-color: #FAFAF9;
    margin: 0 auto;
    margin-top: 5px;
    border: 5px solid #E48D65;
    border-style: outset;
    text-align: center;
    color: #959594;
}

.class-heading {
    color: #2E2127;
}

th {
    color: #2E2127;
}

td {
    padding: 5px;
    color: #2E2127;
}

ul>li {
    color: #959594;
}

li>p {
    color: #FAFAF9;
}

/* gallery */
#slider {
    margin: 0 auto;
    height: 80%;
    width: 100%;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
 }

 

 .slide-content img {
    height: auto;
    max-width: 100%;
 }
 


 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 10px;
    border: 3px solid #ccc;
    background: #fff;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 800px;
 }
 #slides .slide {
    width: 25%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #E48D65;
 }
 #slides .slide_1 {
    background: #959594;
 }
 #slides .slide_2 {
    background: #959594;
 }
 #slides .slide_3 {
    background: #959594;
 }
 #slides .slide_4 {
    background: #959594;
 }
 #controls {
    margin: -180px 0 0 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    position: relative;
 }
 #controls label {
    transition: opacity 0.2s ease-out;
    display: none;
    width: 50px;
    height: 50px;
    opacity: .4;
 }
 #controls label:hover {
    opacity: 1;
 }
 #slide1:checked ~ #controls label:nth-child(2),
 #slide2:checked ~ #controls label:nth-child(3),
 #slide3:checked ~ #controls label:nth-child(4),
 #slide4:checked ~ #controls label:nth-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
    float:right;
    margin: 0 -50px 0 0;
    display: block;
 }
 #slide1:checked ~ #controls label:nth-last-child(2),
 #slide2:checked ~ #controls label:nth-last-child(3),
 #slide3:checked ~ #controls label:nth-last-child(4),
 #slide4:checked ~ #controls label:nth-last-child(1) {
    background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
    float:left;
    margin: 0 0 0 -50px;
    display: block;
 }
 #bullets {
    margin: 150px 0 0;
    text-align: center;
 }
 #bullets label {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius:100%;
    background: #ccc;
    margin: 0 10px;
 }
 #slide1:checked ~ #bullets label:nth-child(1),
 #slide2:checked ~ #bullets label:nth-child(2),
 #slide3:checked ~ #bullets label:nth-child(3),
 #slide4:checked ~ #bullets label:nth-child(4) {
    background: #444;
 }
 @media screen and (max-width: 900px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slides {
       max-width: calc(100% - 140px);
       margin: 0 auto;
    }
 }

 .slide-content {
    object-position: center top;
    object-fit: fill;
 }

/* sign-up form */

#sign-up-outer {
    clear: left;
    background: url('../images/pexels-анна-рыжкова-3077882.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 600px;
}

#sign-up-form {
    margin: 100px 0 0;
    color: #E48D65;
    background-color: #2E2127;
    max-width: 600px;
    position: absolute;
    left: 10%;
    padding: 20px;
}

/* footer */

footer {
    margin-top: 20px;
    height: 300px;
    background-color: #2E2127;
    position: relative;
    bottom: 0;
    width: 100%;
    overflow: hidden;

}

#contact-message {

}

.social {
    text-align: center;
}

.social>li {
    display: inline;
}

.social i {
    font-size: 150%;
    margin: 1%;
    padding: 5%;
    color: #E48D65;
}